<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extra/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
<!--        <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="map:${discussPosts}">-->
        <li class="media pb-3 pt-3 mb-3 border-bottom position-relative" th:each="map:${conversations}">
            <div th:text="${map.target.id}">
            </div>
        </li>
    </div>
</body>
</html>